[submodule "Fontlib~/subprojects/harfbuzz"]
	path = Fontlib~/subprojects/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "Fontlib~/subprojects/freetype"]
	path = Fontlib~/subprojects/freetype
	url = https://github.com/freetype/freetype.git
[submodule "Fontlib~/subprojects/msdf-atlas-gen"]
	path = Fontlib~/subprojects/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen.git
[submodule "Fontlib~/subprojects/freetype2"]
	path = Fontlib~/subprojects/freetype2
	url = https://github.com/freetype/freetype.git
